form.search-bar{role: "search"}
  input, placeholder: "Enter Search"
  button
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
